.welcome-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #6a11cb, #2575fc);
}

.graphic-animation {
    position: relative;
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
}

.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #ff5722;
    border-radius: 50%;
    animation: moveCircle 2s infinite alternate;
}

.square {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #4caf50;
    animation: moveSquare 2s infinite alternate;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #2196f3;
    animation: moveTriangle 2s infinite alternate;
}

@keyframes moveCircle {
    0% { transform: translate(-50px, -50px); }
    100% { transform: translate(50px, 50px); }
}

@keyframes moveSquare {
    0% { transform: translate(50px, -50px); }
    100% { transform: translate(-50px, 50px); }
}

@keyframes moveTriangle {
    0% { transform: translate(-50px, 50px); }
    100% { transform: translate(50px, -50px); }
}
